.sidenav{
    background-color: purple;
    color: white;
    flex: 0.2;
    border-right: 1px solid grey;
    font-weight: bold;
}

.sidenav::-webkit-scrollbar{
    display: none;
}

.sidenav__topheader{
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-around;
    border-bottom: 1px solid rgb(197, 197, 197);
}

.sidenav__topheader__create__icon{
    font-size: 20px !important;
    margin-left: 10px;
    color: white;
    background-color: black;
    opacity: 0.8;
    padding: 5px;
    border-radius: 50%;
}

.sidenav__topheader__info h6{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidenav__topheader__info h6 .MuiSvgIcon-root{
    color: rgb(33, 192, 33) !important;
}

.sidenav__channels > h4{
    padding: 10px;
    margin-top: 10px;
}
.sidenavchannels__info{
    display: flex;
    align-items: center;
    padding: 15px;
    cursor: pointer;
    transition-property: background-color;
    transition-duration: 0.2s;
}
.sidenavchannels__info:hover{
    background-color: rgb(199, 194, 194);
    color: black;
}
.sidenavchannels__info p{
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

