

.app__contents{
    display: flex;
}

.conversation__info{
    flex:0.8;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    color: grey;
    height: 100vh;
}